
<section class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
    <div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

        <div class="container_block">
            <h1 class="uk-h1 container_title">SOFTWARE</h1>
            <h2 class="uk-h2 container_subtitle">CREATIVE AGENCY</h2>
            <div class="container_description">LOTTERY</div>

            <div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
                <div click="scrollNav($event)" class="uk-button uk-border-rounded green_button container_button_message">Send
                    message</div>
                <div click="scrollNav($event)" class="uk-button uk-border-rounded container_button_subscribe">Subscribe</div>
            </div>
        </div>
 
    </div>
    <div click="scrollNav($event)" class="uk-icon-angle-down container_arrow"></div>
</section>