<div class="wrapper">
    <header class="uk-small-hidden header">
        <nav class="uk-navbar header-nav">
            <div class="uk-container uk-container-center">
                <a class="uk-navbar-brand logo_link">
                    <img class="uk-responsive-height logo" src="https://image.ibb.co/cu4B2b/logo_white.png" alt="">
                </a>
                <div class="uk-navbar-flip uk-visible-large">
                    <ul class="uk-navbar-nav header-nav-list">
                        <li class="header_nav_list_item">
                            <a  click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">Features</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Offer</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_pricing header_nav_list_item_link" href="#">Pricing</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_clients header_nav_list_item_link" href="#">Clients</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Facts</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Projects</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Team</a>
                        </li>
                        <li class="header_nav_list_item">
                            <a click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Customers</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
                    <div click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
                </div>
            </div>
        </nav>
    </header>   

    <router-outlet>
        <app-spinner></app-spinner>
    </router-outlet>
</div>